.Sidenav {
  font-family: 'Trebuchet MS';
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
}
.Sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.Sidenav a:hover {
  color: #f1f1f1;
}
.Sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 32px;
  margin-left: 40px;
  padding-bottom: 0;
}
.Sidenav .divsideItems {
  display: grid;
  margin: 1rem;
  padding: 0.2rem;
}
.Sidenav span { 
    display: block;
    padding-bottom: 0.5rem;
}
#bgOption { /* Preventing Line Breaks */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#otherOpstions {
  display: none;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
